@use "../../styles/variables.module.scss";

/* ===== Elements ===== */
/* ===== Classes ===== */
.flex_container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.walmart_item {
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 100%;
  }
  h3 {
    word-break: break-all;
  }
}

.container a {
  color: rgb(0, 120, 255);
}
/* ===== Ids ===== */
