@use '../../styles/variables.module.scss';
@use '../../Main.module.scss';

/* ===== Elements ===== */
/* ===== Classes ===== */
.container {
    place-items: center;
}

.list {
    list-style: none;
    .list_link {
        color: variables.$hyperlink-color;
        &:hover {
            color: variables.$hyperlink-color-hover;
        }
    }
}

/* ===== Ids ===== */