@use '../../styles/variables.module.scss';

/* ===== Elements ===== */
/* ===== Classes ===== */
.container {
  place-items: center;
}
.friendSearchForm {
  border-radius: 10px;
  background-color: rgb(225,225,225);
  gap: 10px;
  button {
    background-color: variables.$body-background-color;
    border: 1px solid black;
    &:hover{
      background-color: variables.$body-background-color-hover;
    }
  }
}
/* ===== Ids ===== */
