@use "../../styles/variables.module.scss";
@use "../../Main.module.scss";

/* ===== Elements ===== */
/* ===== Classes ===== */
.container {
  place-items: center;
}
.friendSearchForm {
  display: flex;
  flex-direction: column;
  // place-self: center;
  // margin-left: 100px;
  background-color: rgb(225, 225, 225);
  gap: 10px;
  button {
    background-color: variables.$body-background-color;
    border: 1px solid black;
    &:hover {
      background-color: variables.$body-background-color-hover;
    }
  }
}

.container spline-viewer {
  height: calc(100vh - 281px);
}
