/* ===== Colors ===== */
$body-background-color: #fff;
$body-background-color-hover: rgb(205, 205, 205);
$hyperlink-color: #292931;
$hyperlink-color-hover: #00009f;
/* ===== Text ===== */
$font-size-h1: 3.2em;
$font-stack: system-ui,
Avenir,
Helvetica,
Arial,
sans-serif;