@use '../../styles/variables.module.scss';
@use '../../Main.module.scss';

/* ===== Elements ===== */
.form {
    width: 400px;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    background-color: white;
    padding: 21px 21px 28px 21px;
    box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

/* ===== Classes ===== */
.container {
    place-items: center;
}

.formLjine {
    padding: 2rem 1rem;
}

/* ===== Ids ===== */
