@use "../../styles/variables.module.scss";
@use '../../App.module.scss';
@use '../../Main.module.scss';

/* ===== Elements ===== */
/* ===== Classes ===== */
.container {
    place-items: center;
}

.container article {
  width: 200px;
  height: 100px;
  padding: 14px 21px;
  border-radius: 13px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

.listGrid {
  width: 100%;
  max-width: 530px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 21px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14px;
  row-gap: 25px;
  margin: 0 auto;
}

.listGridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-weight: bold;
    font-size: 1.3em;
}

ul {
  list-style-type: none;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  flex-direction: column;
  width: 600px;
  h4 {
    place-self: flex-start;
    padding: 0;
    margin: 0;
    box-sizing: none;
  }
  .listLine {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
}

.listContent {
  flex-direction: column;
}


/* ===== Ids ===== */
