@use '../../styles/variables.module.scss';

/* ===== Elements ===== */
/* ===== Classes ===== */
.container
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container h1 {
    text-align: center;
}
/* ===== Ids ===== */
