@use '../../styles/variables.module.scss';
@use '../../Main.module.scss';

/* ===== Elements ===== */
/* ===== Classes ===== */
.container {
  gap: 14px;
  width: 100%;
  display: grid;
  padding: 21px;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

.container article {
  width: 300px;
  height: 150px;
  padding: 14px 21px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

/* ===== Ids ===== */
